<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ekomunalka">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EKomunalka">
        <activity
            android:name=".NotificationActivity"
            android:label="Редагувати нагадування"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".NewNotificationActivity"
            android:label="Додати нове нагадування"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".TariffsActivity"
            android:exported="false"
            android:label="@string/tariffs"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TariffActivity"
            android:exported="false"
            android:label="Редагувати тариф"
            android:parentActivityName=".TariffsActivity" />
        <activity
            android:name=".NewTariffActivity"
            android:exported="false"
            android:label="Додати новий тариф"
            android:parentActivityName=".NewRecordActivity" />
        <activity
            android:name=".RecordActivity"
            android:exported="false"
            android:label="Запис"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewRecordActivity"
            android:exported="false"
            android:label="Додати новий запис"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <receiver android:name=".ReminderReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>